*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
a{
    color: #007185;
}
a:hover{
    color: #c7511f;
    text-decoration: underline;
    cursor: pointer;
}
#navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
}
#amzlogo{
    height: 50px;
    width: 113px;
    background-image: url(images/Amazon_Logo.png);
    background-size: cover;
    border: 1.5px solid transparent;
    margin: 0px 10px 0px 10px;
    padding: 0px 5px 0px 5px;
}
#amzlogo:hover{
    border: 1.5px solid white;
    cursor: pointer;
}


#deliver_to{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
#india{
    margin-left: 3px;
    font-size: 1rem;
}
#location_icon{
    display: flex;
}
#location{
    margin: 0px 5px 0px 5px;
    padding: 7px 5px 7px 5px;
    border: 1.5px solid transparent;
}
#location:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

.nav_search{
    display: flex;
    height: 40px;
    width: 200px;
    flex-grow: 1;
    margin: 0px 10px 0px 10px;
    border-radius: 7px;
    border: 3px solid transparent;
}
.nav_search:hover{
    border: 3px solid #f3a847;
}
.nav_search-select{
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    color: rgb(92, 92, 92);
}
.nav_search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
#search_btn{
    width: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3a847;
}


.language{
    padding: 15px 5px 15px 15px;
    margin: 0px 10px 0px 10px;
    display: flex;
    border: 1.5px solid transparent;
}
.language-flag{
    height: 16.2px;
    width: 21.6px;
    background-image: url(images/flag.png);
    background-size: cover;
}
.language-select{
    background-color: #131921;
    color: white;
    border: none;
}
.language:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

.signin{
    margin: 0px 5px 0px 5px;
    padding: 8px;
    border: 1.5px solid transparent;
}
.signin:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.signin-lineOne{
    padding-left: 5px;
    font-size: 0.8rem;
}
#signin-lineTwo{
    background-color: #131921;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.orders{
    margin: 0px 5px 0px 5px;
    padding: 8px;
    border: 1.5px solid transparent;
}
.orders:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.orders-lineOne{
    font-size: 0.8rem;
}
.orders-lineTwo{
    font-size: 1rem;
    font-weight: bold;
}

.cart{
    margin: 0px 10px 0px 5px;
    padding: 7px;
    display: flex;
    border: 1.5px solid transparent;
}
.cart:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.cart-icon{
    height: 30px;
    width: 38px;
    background-size: cover;
    background-image: url(images/cart.png);
    transform: scale(1.2);
}
.cart-text{
    font-weight: bold;
    padding-left: 6px;
    padding-top: 20px;
    font-size: 0.9rem; 
}

#panel{
    padding: 0px 15px 0px 15px;
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
}
#panel-all{
    padding: 9px;
    border: 1.5px solid transparent;
}
#panel-all:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
#panel-ops{
    display: flex;
}
#panel-ops p{
    padding: 9px;
    border: 1.5px solid transparent;
}
#panel-ops p:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.hero{
    height: 320px;
    background-image: url(images/Hero1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
.hero-message{
    width: 100%;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 260px;
    padding: 10px 14px 10px 14px;
    background-color: #f5f6f6;
    color: #0f1111;
    text-align: center;
}